#root {
    background-image: url(../public/bg-image-7.jpg);
    background-size: cover;
}

header {
    padding-top: 100px;
}

.card-detail-bg {
    background-image: url(../public/sfondo-card-details4.jpg);
    background-position: center top;
    background-size: cover;
    object-fit: contain;
}


img {
    max-width: 100%;
    min-width: 100%;
    object-fit: contain;
}

.card-text-description {
    font-size: 10px;
}

.carousel-img {
    transition: transform 0.3s ease;
}

.carousel-img:hover {
    transform: scale(1.01);
}

.discount {
    top: 10px;
    right: 10px;
}



.carousel-item {
    height: 80vh;
    position: relative;
    overflow: hidden;
}

.carousel-item img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.carousel-caption {
    position: absolute;
    z-index: 2;
    color: #fff;
    text-align: left;
}


/* FOOTER */
.footer-container {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
}

.image-logo-footer {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    align-items: center;
}

.image-logo-footer img {
    max-height: 100%;
    width: auto;
    opacity: 0.9;
}

.social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 50px;
}

.follow-us {
    color: #f9dc02;
    font-weight: bold;
    font-size: 16px;
}

.social-icone {
    display: flex;
    gap: 15px;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #303030;
    color: #fff;
}

.social-icon:hover {
    background-color: #f9dc02;
    transition-duration: 300ms;
}


/* Listmenu */
.list-menu-container {
    background-color: #f9dc02;
    padding: 30px 0;
}

.list-menu-contain {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.list-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.list-menu-item {
    display: flex;
    align-items: center;
}

.list-icon {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.list-text {
    color: white;
    font-size: 14px;
    font-weight: 600;
}

/* Footer Link */
.footer-props {
    min-width: 150px;
}

.footer-title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.footer-url {
    list-style: none;
    padding: 50px;
}

.footer-link {
    margin-bottom: 5px;
}

.footer-link-url {
    color: #959595;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.2s ease;
}

.footer-link-url:hover {
    color: #f9dc02;
}

.zoom-effect {
    transition: transform 0.3s ease;
}

.zoom-effect:hover {
    transform: scale(1.08);
}

.navbar.shadow {
    box-shadow: 0 .5rem 1rem rgba(255, 193, 7, 0.2) !important
}

.card.shadow {
    box-shadow: 0 .5rem 1rem rgba(255, 193, 7, 0.2) !important
}

.carousel.shadow {
    box-shadow: 0 .5rem 1rem rgba(255, 193, 7, 0.2) !important
}

.footer.shadow {
    box-shadow: 0 .5rem 1rem rgba(255, 193, 7, 0.2) !important
}

.card-img-top {
    transition: transform 0.3s ease;
}

.card-img-top:hover {
    transform: scale(1.1);
}