#root {
    background-color: rgb(54, 52, 52);
}


.herospace {
    background-image: url(../public/elden-ring.jpg);
    height: 50.5vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: .5rem;
}


img {
    max-width: 100%;
    min-width: 100%;
    object-fit: contain;
}

.card-text-description {
    font-size: 10px;
}

.carousel-img {
    transition: transform 0.3s ease;
}

.carousel-img:hover {
    transform: scale(1.01);
}