#root {
    background-color: rgb(54, 52, 52);
}


.card-detail-bg {
    background-image: url(../public/sfondo-card-details4.jpg);
    background-position: center top;
    background-size: cover;
    object-fit: contain;
}


img {
    max-width: 100%;
    min-width: 100%;
    object-fit: contain;
}

.card-text-description {
    font-size: 10px;
}

.carousel-img {
    transition: transform 0.3s ease;
}

.carousel-img:hover {
    transform: scale(1.01);
}